body {
	background-image: url("waterfall.jpg");
}

.all-text {
	width:150px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
}

a {
	color:black;
	text-decoration:none;
}

.show-all-posts {
	text-align: center;
	color:white;
	font-size:30px;
	width:300px;
	margin-left:auto;
	background-color:gray;
	border:2px blue solid;
}

.single-post-page {
	margin-top:180px;
	background-color:gray;
}

#title {
	text-decoration:underline;
}

.links {
	display: block;
	margin-left:30%;
	background-color:gray;
	width:205px;
}

.home {
	margin:10px;
	margin-top:230px;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	color: white;
	font-size:25px;
}

nav {
	background-color:orange;
	float:right;
	border:2px blue solid;
	font-family:fantasy;
	font-size:15px;
	margin:2px;
}

.toolbar {
	display:inline-block;
	position:fixed;
	margin-bottom:60px;
}

.filter {
	margin:10px;
	width:150px;
	margin-left:auto;
	margin-right:auto;
}

.post {
	margin-top:180px;
	display:block;
	width:250px;
	position: fixed;
	margin-right:auto;
	border:2px blue solid;
}

.posting {
	padding:50px;
}

body {
	padding:50px;
}

button {
	width:140px;
	margin-left:auto;
	margin-right:auto;
}

html, body, #map {
	height:90%;
	width:90%;
}

#map {
	height:90%;
	width:90%;
	margin-top:180px;
}