.links {
	display: block;
	margin-left:30%;
}

nav {
	float:right;
}

.filter {
	margin:10px;
}

.post {
	width:250px;
	margin-left:auto;
	margin-right:auto;
	border:2px blue solid;
}

.posting {
	padding:50px;
}

body {
	padding:50px;
}

button {
	width:140px;
	margin-left:auto;
	margin-right:auto;
}