<div class='home'>
	<p>That First Link is here to connect you with others in similar situations.  Hopefully, 'that first link' can lead to clicks on other links until you find relief from the pull of 'that first drink'.<p>
	<p>All users remain anonymous unless they personally choose not to.</p>

<div class="links">
	<a href='/posts'>~you are not alone~</a>
	<br>
	<a href='/maps'>Support Nearby</a>
	<br>
	<!-- <a href=#>Personalized maps and meeting rater</a> -->
</div>
</div>

