<!DOCTYPE html>
<html>
<head>
	<title>That First Link</title>
</head>
<body>
	<h1>You are not alone</h1>
	<p>That First Link is here to connect you with others in similar situations.  Hopefully, 'that first link' can lead to clicks on other links until you find relief from the pull of 'that first drink'.<p>
	<p>All users remain anonymous unless they personally choose not to.</p>

</body>
</html>